* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.main {
    display: flex;
    background-color: #046BB3;
    /* min-height: 100vh; */
    min-height: 100%;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.5rem;
    height: 20rem;
}

.button {
    border: none;
    height: 4rem;
    border-radius: 1rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    background-color: #0C3C5C;
    cursor: pointer;
}

/*
button : hover {
    background-color:red;
}

img : hover {
    background-color:red;
}
*/

.div-itson-img img {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 25rem;
}

.bottom-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 28vh;
    /* bottom: 1rem; */
}

@media screen and (max-width: 768px) {
    .bottom-text {
        font-size: 0.8rem;
        margin-top: 5vh;
    }
}